/* Estilos para el perfil de usuario */
.seccion-perfil-usuario {
    background-color: #fff;
    border-radius: 5px;
    padding: 30px;
    width: 1300px;
    margin: 0 auto; /* Añadido para centrar el perfil-usuario-portada horizontalmente */
  }
  
  .perfil-usuario-header {
    text-align: center;
  }
  
  .perfil-usuario-portada {
    background-color: #e4e6eb;
    height: 200px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    display: flex; /* Añadido */
    align-items: center; /* Añadido para centrar verticalmente */
    justify-content: center; /* Añadido para centrar horizontalmente */
  }
  
  .perfil-usuario-avatar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .perfil-usuario-avatar img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }
  
  .perfil-usuario-body {
    margin-top: 20px;
  }
  
  .perfil-usuario-bio {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .titulo {
    font-size: 24px;
    margin: 0;
  }
  
  .texto {
    font-size: 14px;
    color: #888;
  }
  
  .perfil-usuario-footer {
    display: flex;
    justify-content: space-between;
  }
  
  .lista-datos {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .lista-datos li {
    margin-bottom: 10px;
  }
  
  .icono {
    margin-right: 10px;
  }
  
  /* Estilos específicos de los íconos */
  .icono.fas.fa-map-marked-alt,
  .icono.fas.fa-phone-alt,
  .icono.fas.fa-briefcase,
  .icono.fas.fa-building,
  .icono.fas.fa-map-marker-alt,
  .icono.fas.fa-calendar-alt,
  .icono.fas.fa-user-check,
  .icono.fas.fa-envelope {
    color: #4267B2;
  }
  
  /* Estilos de enlaces */
  a {
    color: #4267B2;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  