<!DOCTYPE html>
<html>
<head>
    <title>Banca Web</title>
    <link rel="icon" href="{{ url_for('static', filename='image/logo.jpg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cajero.css') }}">
</head>
<body>
    <h1>Bienvenido al Cajero Automático</h1>
    <div class="botones">
        <button onclick="ingresar()"><img src="{{ url_for('static', filename='image/ingreso.ico') }}"> Ingreso</button>
        <button onclick="egreso()"><img src="{{ url_for('static', filename='image/egreso.ico') }}"> Egreso</button>
        <button onclick="actualizar()"><img src="{{ url_for('static', filename='image/editar.png') }}"> Actualizar</button>
        <button id="cerrar-sesion" onclick="cerrarSesion()"><img
                src="{{ url_for('static', filename='image/salir.ico') }}"> Cerrar sesión</button>
    </div>
    <div class="codigo" style="display:none;">
        <input type="password" placeholder="Ingrese su código de ingreso">
        <button onclick="verificarCodigo()">Aceptar</button>
        <button onclick="regresar()">Regresar</button>
    </div>
    <script>
        function ingresar() {
            document.querySelector('.botones').style.display = 'none';
            document.querySelector('.codigo').style.display = 'flex';
        }
        function verificarCodigo() {
            var codigoIngreso = document.querySelector('.codigo input[type="password"]').value;

            // Verificar el código de ingreso
            if (codigoIngreso === "1234") {
                // Código correcto, redirigir a la página de ingreso
                location.href = "ingreso.html";
            } else {
                // Código incorrecto, mostrar mensaje de error
                alert("Código de ingreso incorrecto. Por favor, intente nuevamente.");
            }
        }

        function egreso() {
            location.href = "http://127.0.0.1:5000/cajero/egreso";
            
        }

        function actualizar(params) {
            location.href = "http://127.0.0.1:5000/cajero/actualizar"
            
        }



        function regresar() {
            document.querySelector('.botones').style.display = 'flex';
            document.querySelector('.codigo').style.display = 'none';
        }
        function cerrarSesion() {
            location.href = "http://127.0.0.1:5000";
        }

        // Resto de las funciones opcion2() y opcion3() aquí

    </script>
</body>

</html>