<!DOCTYPE html>
<html>

<head>
  <title>Banca Web</title>
  <link rel="icon" href="{{ url_for('static', filename='image/logo.jpg') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
</head>

<body>
  <header>
    <h1>Sistema Bancario</h1>
    <nav>
      <ul>
        <li><a href="#">Perfil</a></li>
      </ul>
    </nav>
  </header>
  <div class="container">
    <div class="menu">
      <ul class="botones">
        <li><a onclick="dashboard()"><img src="{{ url_for('static', filename='image/dashboard.ico') }}">Dashboard</a>
        </li>
        <li><a onclick="ingreso()"><img src="{{ url_for('static', filename='image/ingreso.ico') }}">Ingreso</a></li>
        <li><a onclick="egreso()"><img src="{{ url_for('static', filename='image/egreso.ico') }}">Egreso</a></li>
        <li><a onclick="actualizar()"><img src="{{ url_for('static', filename='image/actualizar.ico') }}">Actualización</a></li>
        <li><a onclick="cerrarSesion()"><img src="{{ url_for('static', filename='image/salir.ico') }}">Cerrar sesión</a>
        </li>
      </ul>
    </div>

    <div class="table">
      <h2>Movimiento de saldos</h2>
      <table>
        <tr>
          <th>Fecha del movimiento</th>
          <th>Acción</th>
          <th>Saldo</th>
        </tr>
        <tr>
          <td>23/06/2023</td>
          <td>Ingreso</td>
          <td>250</td>
        </tr>
      </table>
    </div>

  </div>
  <script>

    function dashboard() {
      location.href = "http://127.0.0.1:5000/dashboard"
    }

    function ingreso(ingreso) {
      location.href = "http://127.0.0.1:5000/ingreso"
    }

    function egreso(ingreso) {
      location.href = "http://127.0.0.1:5000/egreso"
    }

    function actualizar(params) {
      location.href = "http://127.0.0.1:5000/actualizar"
    }

    function cerrarSesion() {
      location.href = "http://127.0.0.1:5000";
    }
  </script>
</body>

</html>