{% extends 'base.html' %}

{% block title %}Ingreso - Sistema Bancario{% endblock %}

{% block content %}
  <!-- Contenido específico de la página de Dashboard -->
  <!-- Expense Overview -->
  <div class="saldo">
    {% if message != 'null' %}
  <div class="bs-toast toast fade show bg-primary position-fixed top-0 end-0" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <iconify-icon class="text-white" icon="bx:bell"></iconify-icon>
      <div class="me-auto fw-semibold text-white">Bootstrap</div>
      <small class="text-white">11 mins ago</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body text-white">
      {{ message }}
    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const toastElement = document.querySelector('.toast-placement-ex');
      const toast = new bootstrap.Toast(toastElement);

      // Agregar evento de clic al botón de cerrar
      const closeButton = toastElement.querySelector('.btn-close');
      closeButton.addEventListener('click', function() {
        toast.hide();
      });

      toast.show();
    });
  </script>
{% endif %}

    <h2>Ingreso de Saldos</h2>
    <form action="/ingreso"  method="post">

      <p>Saldo actual:${{ monto }}</p>

      <label for="monto">Monto a ingresar:</label>
      <input type="number" id="monto" name="monto">

      <input type="submit" value="Ingresar">
    </form>
  </div>

</div>
<div class="saldo_actual">
  <p>Saldo actual</p>
</div>

<script>

  function dashboard() {
      location.href = "http://127.0.0.1:5000/dashboard"
      
  }


  function ingreso(ingreso) {
      location.href = "http://127.0.0.1:5000/ingreso"
      
  }
  function egreso(ingreso) {
      location.href = "http://127.0.0.1:5000/egreso"
      
  }
          function actualizar(params) {
          location.href = "http://127.0.0.1:5000/actualizar"
          
      }
      function cerrarSesion() {
          location.href = "http://127.0.0.1:5000";
      }
</script>
{% endblock %}



