{% extends 'base.html' %}

{% block title %}Perfil - Sistema Bancario{% endblock %}

{% block content %}
<!-- Contenido específico de la página de Perfil -->
<section class="seccion-perfil-usuario">
  <div class="perfil-usuario-header">
    <div class="perfil-usuario-portada">
      <div class="perfil-usuario-avatar">
        <img src="{{ url_for('static', filename='image/avatar.png') }}" alt="img-avatar">
      </div>
    </div>
  </div>
  <div class="perfil-usuario-body">
    <!-- INFORMACION USUARIO -->
    <div class="perfil-usuario-bio">
      <h3 class="titulo">{{ perfil.name }}</h3>
      <p class="texto">PERFIL DE USUARIO REGISTRADO</p>
    </div>
    <div class="perfil-usuario-footer">
      <ul class="lista-datos">
        <li><i class="icono fas fa-map-marked-alt"></i> <strong>Dirección de usuario:</strong> {{ perfil.direccion }}</li>
        <li><i class="icono fas fa-phone-alt"></i><strong>Teléfono:</strong> +593 99 999 9999</li>
        <li><i class="icono fas fa-briefcase"></i> <strong>Monto actual:</strong> ${{ perfil.monto }}</li>
        <li><i class="icono fas fa-building"></i> <strong>Cédula de identidad:</strong>{{perfil.dni}}</li>
      </ul>
      <ul class="lista-datos">
        <li><i class="icono fas fa-map-marker-alt"></i> <strong>Ubicación:</strong> {{ perfil.direccion }} </li>
        <!-- <li><i class="icono fas fa-calendar-alt"></i> <strong>Fecha de nacimiento:</strong> 02/03/1995 </li> -->
        <li><i class="icono fas fa-user-check"></i> <strong>Registro:</strong> Usuario-Activo-Bank </li>
        <li><i class="icono fas fa-envelope"></i> <strong>Correo:</strong> {{ perfil.email }}</li>
      </ul>
    </div>
  </div>
</section>
{% endblock %}
