<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/registro.css">
    <title>Document</title>
</head>
<body>
    

    <div class= "container">

        <form action="" class="formulario">
            <h2>Registrarse</h2>
            <div class="contpadre">

                <div class = "nombre">
                    <label for="">Nombres</label>
                    <input type="text">
                </div>
                <div class = "apellido">
                    <label for="">Apellidos</label>
                    <input type="text">
                </div>
                <div class = "ci">
                    <label for="">Cedula de identidad</label>
                    <input type="text">
                </div>
                <div class = "correo">
                    <label for="">Correo</label>
                    <input type="text">
                    </div>
                    <div class = "direccion">
                        <label for="">Direccion</label>
                        <input type="text">
                        </div>
                    <div class="cuenta"> 
                        <p>¿Ya estas registrado? <a href="../templates/index.html">Entra aqui</a></p>
                        <button type="submit">Registrarse</button>
                </div>

            </div>

        </form>

    </div>


</body>
</html>